<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/navbar :: navbar" />

<div class="container">
    <div class="row ">

		<div class="col-md-6">
			<form id="betweenAccountsForm" th:action="@{/transfer/betweenAccounts}" method="post">
				<div class="form-group">
					<label for="transferFrom" th:text="#{transfer.account.from.select}"></label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" style="width: 555px;" id="transferFrom" name="transferFrom" th:value="${transferFrom}">
                        <option disabled="disabled" selected="selected" th:text="#{transfer.select.your.account.option}"></option>
                        <option th:each="account: ${T(com.userfront.enums.SelectAccountsEnum).values()}"
                                th:value="${account.account}"
                                th:text="${account.account}"></option>
                    </select>					
				</div>
				<div class="form-group">
					<label for="transferTo" th:text="#{transfer.account.to.select}"></label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" style="width: 555px;" id="transferTo" name="transferTo" th:value="${transferTo}">
                        <option disabled="disabled" selected="selected" th:text="#{deposit.select.your.account.option}"></option>
                        <option th:each="account: ${T(com.userfront.enums.SelectAccountsEnum).values()}"
                                th:value="${account.account}"
                                th:text="${account.account}"></option>
                    </select>					
				</div>
				<div class="form-group">
					<label th:text="#{transfer.account.amount.select}"></label>
					<span class="input-group-addon" th:text="#{transfer.account.amount.text}"></span>
					<input th:value="${amount}" type="text" name="amount" id="amount" class="form-control" aria-label="Amount (to the nearest dollar)" />
				</div>
				
				<!-- Spring csrf already is enabled by default -->
				<!-- Spring automatically generates a token through csrf here -->
                <input type="hidden"
                        name="${_csrf.parameterName}"
                        value="${_csrf.token}"/>
                        
               <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{transfer.submit.button.text}"></button>         
			</form>
		</div>		
        <div class="col-md-6">
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>